@model AppRole
@{
    ViewData["Title"] = "UpdateRole";
    Layout = "~/Views/Shared/_CRMLayout.cshtml";
}

<h1>Rol Güncelleme Sayfası</h1>
<br />
<form method="post">
    <div class="col-6">
        <input type="hidden" asp-for="Id" />
        <label>Rol Adı</label>
        <br />
        <br />
        <input type="text" asp-for="Name" class="form-control" />
        <span class="text-danger" asp-validation-for="Name"></span>
        <br />
        <button class="btn btn-success">Rolü Güncelle</button>
    </div>
</form>