
@{
    ViewData["Title"] = "ReportList";
    Layout = "~/Views/Shared/_CRMLayout.cshtml";
}

<h1>Rapor Listesi</h1>

<a href="/Report/ExcelStatic/" class="btn btn-outline-warning" style="display:inline-block; inline-size:200px">Excel Statik Liste</a>
<br /><br />
<a href="/Report/DynamicExcel/" class="btn btn-outline-warning" style="display:inline-block; inline-size:200px">Excel Dinamik Liste</a>

<a href="/Report/StaticPdfReport/" class="btn btn-outline-warning" style="display:inline-block; inline-size:200px">Statik PDF Liste</a>

